*{
  padding:0%;
  margin: 0%;
  box-sizing: border-box;
}

/*main style*/

body,html,textarea,input{
  font-family: 'Montserrat', sans-serif;
  color:#4d4d4d
}

h1{
  font-size: 50px;
  color: #fff;
}
h2{
  font-size: 31px;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 50px;
}
h5{
  font-size: 16px;
}

h1,h3,h4,h5{
  margin-bottom: 10px;
}

h1,h3,h5{
  font-weight: lighter;
}

h4{
  font-weight: bold;
  text-transform: uppercase;
}

p{
  font-size: 16px;
  line-height: 1.7em;
}

/*hr*/
hr{
  border:0;
  height: 2px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

hr.hr-blue{
  background: #84d2ee;
  width:7%;
}

hr.hr-white{
  background: #fff;
  width: 90%;
  height: 1px;
  
}

/*utility clases*/
.container{
  margin: auto;
  max-width: 1300px;
  overflow:auto;
  padding: 0 20px;
}
/*btn*/
.btn{
  display:inline-block;
  font-size: 18px;
  color:fff;
  padding: 13px 25px;
}

.btn-light{
  background: #84d2ee;
}

.btn-dark{
  background: #595959;
  margin-top: 5px;
  margin-bottom: 25px;
}
/*icon*/
.icon-bar {
  width: 25px;
}
.icon-bar-white{
  filter: invert(1) ;
}


.icon-class{
  width: 70px;
  height: 70px;
  -webkit-filter: grayscale(0.1);
  filter: grayscale(0.1);
}

/*header*/
nav {
  position: fixed;
  background-color: #3c55a5 ;
  color: #fff;
  left: 0;
  top: 0;
  right: 0;
  bottom: 87%;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 1;
  
}
#navbar{
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar .logo{
  float: left;
  font-size: 37px;
  text-transform: uppercase;
  }
#navbar ul{
  float: right;
  font-size: 17px;
  display: inline-block;
  }
#navbar ul li{
  float: left;
  padding-left: 15px;
  list-style: none;
  }
#header-top{
  background-color: #3c55a5 ;
  color: #fff;
  height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  
}


a,a:visited{
  color:#fff;
  text-decoration:  none;
}
#white-bar{
  color:#fff;
}

/*showcase*/
#showcase{
  text-align: center;
  padding-top: 250px;
}
#showcase h1, #showcase p{
  padding: 10px;
}

#showcase p{
  margin-bottom: 20px;
}



/*service*/
#Service{
  text-align: center;
  padding-top: 50px;
  background:#fff;
}
#Service h1, #Service p{
  padding: 10px;
}
#Service p{
  margin-bottom: 20px;
}
.box-service{
  background: #fff;
  width: 33.3%;
  float: left;
  padding: 20px;
}
/*contact*/
#contact{
  background: #dedfde;
  text-align: center;
}
textarea{
  padding-bottom: 30px !important;
}
input, textarea{
  width:40%;
  padding:20px;
  border-radius: 1px #ddd solid;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
#showcase-c{
  text-align: center;
  padding-top: 550px;
}
#showcase-c h1, #showcase-c p{
  padding: 10px;
}

#showcase-c p{
  margin-bottom: 20px;
}

/*footer*/
footer{
  background-color: #3c55a5 ;
}
.box-footer{
  
  background-color: #3c55a5 ;
  width: 33.3%;
  float: left;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
ul li{
  list-style: none;
}
.center-txt{
  text-align: center;
  padding-bottom: 2%;
}
/*text*/
.text-orange{ 
  color: #ff7867;
}
.h5-footer{
  color: #fed9a1;
}

.white-txt{
  color: #fff;
}

