/* Variables */
:root {
    --black:#4d4d4d;
    --dark-grey: #c4c4c4;
    --light-grey: #ededed;
    --white:#f9f9f9;
    --blue:#40c0ff;
    --purple:#7244aa;
    --green:#57dea4;
    --skin:#f2debb;

}
/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  /* Main Styling */
body,
html {
    font-family: 'Raleway', sans-serif;
    line-height: 1.7em;
    color: --bla;
}

a,a:active {
    color: var(--black);
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 10px;
}

h1{
    font-weight: lighter;
}
h2 {
    font-size: 32px;
    font-weight: lighter; /* 100 */
    line-height: 1.4em;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}
/*header*/
/*
nav{ 
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 45px;
}*/
header{
	color: var(--black);	

}
header a {
	text-decoration: none;
}
header a:hover{
	color: var(--black);
}
.logo-nav-container{
	display: flex;
	justify-content: space-between;
}
.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}
#logo{
	padding-top: 25px;
  font-weight:700;
  font-size: 3em;
  letter-spacing: 5px;
}
header ul{
	margin: 0;
	padding-left: 0;
	list-style: none;
}
header ul li{
	display: inline-block;
	border-spacing: 0ch;
}
#navbar ul li a {
	display: block;
	padding: 25px;
	text-align: center;
	transition: all 0.4s linear;
	margin: 0;
  }
  
  #navbar ul li a:hover,
  #navbar ul li a.current {
	background: var(--skin);
	color: var(--black);
  }
#header-img{ 
	background-image: url(img/bg-header.jpg);
	height: 500px;
	background-size: cover;
	background-position: center;
}

#white-bg-box{
	position: absolute;
	z-index: 20;

	background-color: rgba(255, 255, 255, 0.568);


  height: 100%;
  width: 60%;
  margin: auto;
  padding-top: 40px;
  text-align: center;
}